

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="FirstChildController">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
                <a class="navbar-brand" href="#"><img src="logo-small.png" alt=""></a>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				 <ul class="nav navbar-nav navbar-left">
					 <li>
                        <a href="#/englishpage"><img src="englishflag.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#/finnishpage"><img src="finnishflag.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#/chinesepage"><img src="chineseflag.png" alt=""></a>
                    </li>
                </ul>
                <ul class="navbelow nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><b>有限公司</b></a>
                    </li>
                    <li>
                        <a href="#/chineseaboutpage"><b>关于我们 </b> </a>
                    </li>
                    <li>
                        
                         <div class="dropdown">
									  <button class="dropbtn"><li><a href="#"><b>服务项目 </b></li> </a></button>
									  <div class="dropdown-content">
										<div class="divider" ><a href="#">Aasian Markkinoiden Konsultointi</a></div>
										<a  class="divider" href="#">Ulkoistaminen</a>
										<a  class="divider" href="#">Markkinointi </a>
									  </div>
									</div>
                    </li>
                    <li>
                        <a href="#/chinesecontactpage"><b>联系方式 </b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<hr>
<h2>关于我们 </h2><hr>
<div ng-controller="SecondChildController"class="col-lg-6">
    
    
<p>Lenoni 有限公司致力于服务中国与北欧的商业贸易发展。</p>
<p>我们专注于给在北欧开展各种商业活动的中国企业提供咨询与服务。服务内容包括市场调查，市场推广，展会筹备，寻找合作伙伴，合作伙伴的信用评估，建立分公司，人员招聘和财务咨询等。我们的专业团队根据各公司的需求制定一对一的解决方案</p>
<p>我们同时协助北欧公司进入中国市场。服务内容包括帮助北欧公司寻找生产厂商，产品代理商和投资合伙人等。欢迎有意向与北欧公司合作的企业联系我们！</p>


</div>
<div  ng-controller="ThirdChildController" class="col-lg-6" ng-init="myPic = 'images.pjp'">
    
</div>


