

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="FirstChildController">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
                <a class="navbar-brand" href="#"><img src="logo-small.png" alt=""></a>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				 <ul class="nav navbar-nav navbar-left">
					 <li>
                        <a href="#/englishpage"><img src="englishflag.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#/finnishpage"><img src="finnishflag.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#/chinesepage"><img src="chineseflag.png" alt=""></a>
                    </li>
                </ul>
                <ul class="navbelow nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><b>有限公司</b></a>
                    </li>
                    <li>
                        <a href="#/chineseaboutpage"><b>关于我们 </b> </a>
                    </li>
                    <li>
                        
                         <div class="dropdown">
									  <button class="dropbtn"><li><a href="#"><b>服务项目 </b></li> </a></button>
									  <div class="dropdown-content">
										<div class="divider" ><a href="#">Aasian Markkinoiden Konsultointi</a></div>
										<a  class="divider" href="#">Ulkoistaminen</a>
										<a  class="divider" href="#">Markkinointi </a>
									  </div>
									</div>
                    </li>
                    <li>
                        <a href="#/chinesecontactpage"><b>联系方式 </b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<hr>
<h2>联系方式  </h2><hr>

<div ng-controller="SecondChildController"class="col-lg-6">
    <div class="well well-sm">
           <form class="form-horizontal" action="" method="post">
          <fieldset>
            
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">您的姓名 （必填）</label>
              <div class="col-md-9">
                <input id="nimi" name="name" type="text" placeholder="您的姓名" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">您的邮箱 （必填）</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="您的邮箱 " class="form-control">
              </div>
            </div>
            <!-- Subject input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">主题</label>
              <div class="col-md-9">
                <input id="subject" name="subject" type="text" placeholder="sinun aihe" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">您的留言</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Lähetä</button>
              </div>
            </div>
          </fieldset>
          </form>
          出现验证错误。请检查所有内容，再重新提交。
        </div>
            </div>
             <div class="col-lg-6">
                Lenoni Oy 有限公司

<p>地址: 佈乐瓦尔阺大街 7号, 赫尔辛基 芬兰, 邮编: 00210</p>

<p>邮箱: Info(a)lenoni.fi</p>

<p>电话: +358 440668899</p>

<p>网页: www.lenoni.fi</p>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1984.950640893199!2d24.936302950775396!3d60.164995981870455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920bca6a15927b%3A0x8ec5743f4ada92bc!2sRegus+-+Helsinki%2C+Bulevardi+7!5e0!3m2!1sen!2sfi!4v1500975035518" width="575" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></p>
            </div>
        </div>

</div>

<div  ng-controller="ThirdChildController" class="col-lg-6" ng-init="myPic = 'images.pjp'">
    
</div>


