

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="FirstChildController">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
                <a class="navbar-brand" href="#"><img src="logo-small.png" alt=""></a>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				 <ul class="nav navbar-nav navbar-left">
					 <li>
                        <a href="#/englishpage"><img src="englishflag.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#/finnishpage"><img src="finnishflag.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#/chinesepage"><img src="chineseflag.png" alt=""></a>
                    </li>
                </ul>
                <ul class="navbelow nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><b>有限公司</b></a>
                    </li>
                    <li>
                        <a href="#/chineseaboutpage#test"><b>关于我们 </b> </a>
                    </li>
                    <li>
                        
                         <div class="dropdown">
									  <button class="dropbtn"><li><a href="#"><b>服务项目 </b></li> </a></button>
									  <div class="dropdown-content">
										<div class="divider" ><a href="#">Aasian Markkinoiden Konsultointi</a></div>
										<a  class="divider" href="#">Ulkoistaminen</a>
										<a  class="divider" href="#">Markkinointi </a>
									  </div>
									</div>
                    </li>
                    <li>
                        <a href="#/chinesecontactpage"><b>联系方式 </b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="col-lg-3" ng-controller="SecondChildController" ng-init="myPic = 'images.pjp'">
    <h1>2nd pic</h1>
    <img ng-src="{{myPic}}">
</div>
<div class="col-lg-3" ng-controller="ThirdChildController" ng-init="myPic = 'images.pjp'">
    <h1>3rd pic</h1>
    <img ng-src="{{myPic}}">
</div>



